<ng-template #createVideoModal let-close="close">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add new video</h4>
        <button type="button" class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-create-video-form [selectedLocation]="lastSelectedLocation"></app-create-video-form>
    </div>
    <!--<div class="modal-footer">-->
        <!--<button type="button" class="btn btn-outline-dark" (click)="close()">Save</button>-->
    <!--</div>-->
</ng-template>
<app-controls (onAddVideoChange)="onAddVideoChangeStateHandler($event)"></app-controls>
<div>
    <app-map #mapComponent
            [center]="mapCenter"
            (onCoordinateSelected)="onNewCoordinateSelected($event)"
            (onBoundsChanged)="onMapBoundChangedHandler($event)"></app-map>
</div>
