<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" routerLink="/map">Video Share</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
    </ul>
    <div class="my-2 my-lg-0">
      <a *ngIf="user === null" routerLink="/login" class="btn btn-outline-success" routerLinkActive="disabled">Login</a>
      <div *ngIf="user !== null" class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ user.username }}
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <button class="dropdown-item" routerLink="/profile" type="button">Profile</button>
          <button class="dropdown-item" (click)="onLogoutClickHandler($event)" type="button">Logout</button>
        </div>
      </div>
    </div>
  </div>
</nav>