<form (ngSubmit)="onSubmit(form)" #form="ngForm">
  <div class="form-group">
    <input
            type="text"
            class="form-control"
            id="videoUrl"
            [(ngModel)]="video.url"
            name="videoUrl"
            placeholder="Video Url"
            required
    >
    <app-form-field-error-list [field]="'url'" [errors]="validationErrors"></app-form-field-error-list>
    <!--<small class="form-text text-danger" *ngIf="(validationErrors | async).videoUrl">{{ (validationErrors | async).videoUrl }}</small>-->
  </div>
  <div class="form-group">
    <input
            type="text"
            class="form-control"
            id="title"
            [(ngModel)]="video.title"
            name="title"
            placeholder="Video Title"
            required
    >
    <app-form-field-error-list [field]="'title'" [errors]="validationErrors"></app-form-field-error-list>
    <!--<small class="form-text text-danger" *ngIf="(validationErrors | async).title">{{ (validationErrors | async).title }}</small>-->
  </div>
  <div class="form-group">
    <textarea
            class="form-control"
            id="description"
            [(ngModel)]="video.description"
            name="description"
            placeholder="Video Description"
            rows="3"
    ></textarea>
    <app-form-field-error-list [field]="'description'" [errors]="validationErrors"></app-form-field-error-list>
  </div>

  <div class="form-group">
    <angular2-date-picker [(ngModel)]="video.time" [settings]="settings" name="date"></angular2-date-picker>
  </div>

  <div class="form-group">
      <span class="text text-muted">Geo Location:  [{{ video.location.latitude }}, {{ video.location.longitude }}]</span>
      <app-form-field-error-list [field]="'location.latitude'" [errors]="validationErrors"></app-form-field-error-list>
      <app-form-field-error-list [field]="'location.longitude'" [errors]="validationErrors"></app-form-field-error-list>
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
</form>